ion-item {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.editBlock {
    text-align: center;
    ion-button {
        width: 45%;
        display: inline-block;
    }
}