<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="serverID">Edit server</ion-title>
    <ion-title *ngIf="!serverID">Add new server</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="sname" [(ngModel)]="serverData.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Servidores</ion-label>
      <ion-input name="server" [(ngModel)]="serverData.server" placeholder="irc.server.com:6667 or irc.server.com:+6667 with TLS"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unir a servidores (separado por espacios)</ion-label>
      <ion-input name="server" [(ngModel)]="serverData.autojoin" placeholder="#underc0de #SniferL4bs"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Conectar al iniciar</ion-label>
      <ion-toggle [(ngModel)]="serverData.autoConnect"></ion-toggle>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Apodo</ion-label>
      <ion-input [(ngModel)]="serverData.apodo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apodo secundario</ion-label>
      <ion-input [(ngModel)]="serverData.apodoSecundario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="serverData.username" name="uname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Método de inicio</ion-label>
      <ion-select placeholder="Seleccionar" [(ngModel)]="serverData.method">
        <ion-select-option value="default">Default</ion-select-option>
        <ion-select-option value="spassword">Server password (/PASS Password)</ion-select-option>
        <ion-select-option value="nickserv">Nickserv (/nickserv password)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="pconn" type="password" [(ngModel)]="serverData.password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="save()" *ngIf="!serverID">Agregar</ion-button>
    <div class="editBlock" *ngIf="serverID">
      <ion-button expand="block" color="danger" (click)="delete()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>
      <ion-button expand="block" (click)="save()">
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>
  </ion-list>
</ion-content>

 
