<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>#underc0de</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="channels()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="users()">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="channels" contentId="chat-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Channels</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item>#underc0de</ion-item>
      <ion-item>#Sniferl4bs</ion-item>
      <ion-item>Gaviota</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>  

<ion-menu side="end" type="push" menuId="users" contentId="chat-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Users</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item>@Gaviota</ion-item>
      <ion-item>@CrazyKade</ion-item>
      <ion-item>+Harko</ion-item>
      <ion-item>+d00m</ion-item>
      <ion-item>+Miguel</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="chat-content">
  <div class="chatBox" style="width: 100%;height: 90%;">
    <ul>
      <!-- <li class="me">
        <span class="hora">[23:24:58]</span>
        <div class="nick">Harko</div>
        no soy tan rápido
      </li>
      <li class="special">
        <span class="hora">[23:24:58]</span>
        <div class="nick">*</div>
        Alberto09 se ha marchado (Quit: Connection closed)
      </li> -->
      <li *ngFor="let message of messages" [class.special]="message.special">
        <div class="nick">{{message.nick}}</div>
        {{message.message}}
      </li>
    </ul>
  </div>
  <div class="inputBox">
    <ion-searchbar searchIcon="send-outline" placeholder="send message or command"></ion-searchbar>
  </div>

</ion-content>
