ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    li {
        font-family: monospace;
        .hora {
            opacity: 0.5;
        }
        .nick {
            display: inline-block;
            width: 20%;
            text-align: right;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            direction: rtl;
            vertical-align: bottom;
            padding-right: 2px;
            margin-right: 2px;
            border-right: 1px solid gray;
            color: var(--ion-color-secondary);
        }
        &.me {
            .nick {
                color: var(--ion-color-tertiary);
            }
        }
        &.special {
            color: var(--ion-color-primary);
            .nick {
                color: var(--ion-color-primary);
            }
        }
    }
}