<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Cambiar theme:</ion-label>
      <ion-select placeholder="Seleccionar" [(ngModel)]="theme" (ionChange)="changedTheme()">
        <ion-select-option value="default">Default</ion-select-option>
        <ion-select-option value="monokai">Monokai</ion-select-option>
        <ion-select-option value="aubergine">Aubergine</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="blues">Blues</ion-select-option>
        <ion-select-option value="paper">Paper</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Tamaño del log</ion-label>
    <ion-input [value]="logSize" (change)="chgLogSize($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Notificaciones de menciones</ion-label>
    <ion-toggle [(ngModel)]="notifications" (ionChange)="notificationChange($event)" slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="clearLogs()">Borrar logs</ion-button>
    <ion-button expand="block" (click)="deleteServers()">Borrar servidores</ion-button>
  </ion-item>
  <ion-item>
    Report bugs: alexander171294@gmail.com
  </ion-item>
</ion-content>
